<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Keyword</label>
      <input
        type="text"
        class="form-control mt-2"
        id="search-input"
        name="q"
        placeholder="Enter Keyword"
      />

    </div>
    <div class="form-group">
      <label for="select-input">Keyword</label>
      <select class="form-control mt-2" id="select-input" name="gender">
        <option value="">---Select gender---</option>
        <option value="male">Male</option>
        <option value="female">FeMale</option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>